<p-card>
    <p-toolbar styleClass="p-mb-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" routerLink="addbook"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="booksData" [rows]="10" [paginator]="true" [globalFilterFields]="['ISBN','title','publisher.name']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h2 class="p-m-0">Manage Books</h2>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText [(ngModel)]="searchText" type="text" (input)="dt.filterGlobal(searchText, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="ISBN">ISBN <p-sortIcon field="ISBN"></p-sortIcon></th>
                <th>Image</th>
                <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon></th>
                <th pSortableColumn="publisher">Publisher <p-sortIcon field="publisher"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td> {{product.ISBN}} </td>
                <td><img src="{{product.image}}" [alt]="product.name" width="100" class="p-shadow-4" /></td>
                <td>{{product.title}}</td>
                <td>{{product.price | currency:'USD'}}</td>
                <td><span>{{product.stock}}</span></td>
                <td><span>{{product.publisher.name}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" routerLink="editbook/{{product.id}}"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{booksData ? booksData.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</p-card>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
