<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <label for="current_password">Current Password</label>
            <input formControlName="current_password" type="text" pInputText> 
        </div>
        <div class="p-field p-col-12">
            <label for="new_password">New Password</label>
            <input formControlName="new_password" type="text" pInputText> 
        </div>
        <div class="p-field p-col-12">
            <label for="confirm_password">Confirm Password</label>
            <input formControlName="confirm_password" type="text" pInputText> 
        </div>
    </div>
    <br>
    <br>
    <div class="p-d-flex p-jc-end">
        <button pButton pRipple type="button" label="Reset" icon="pi pi-times" class="p-button-warning p-mr-2" (click)="resetchangePasswordForm()"></button>
        <button pButton pRipple type="submit" label="Submit" icon="pi pi-check" class="p-button-primary p-mr-2"  [disabled]="!changePasswordForm.valid"></button>
     </div>
</form>